body {
    background: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(217, 193, 227); 
}
.about {
    color: rgb(193, 210, 227);
    font-family: monospace;
}
.skills {
    color: rgb(227, 193, 193);
    font-family: 'Courier New', Courier, monospace;
}
.projects {
    color: rgb(208, 227, 193);
    font-family: papyrus, fantasy;
}
.contact {
    color: rgb(227, 216, 193);
    font-family: 'Times New Roman', Times, serif;
}