@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #E1E0E2;
        --secondary-color: #C2C0C4;
        --text-color: #120A18;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #0A0210;
        --secondary-color: #120A18;
        --text-color: #E1E0E2;
    }
}
body {
    background: var(--primary-color);
    font-family: monospace;
    color: var(--text-color); 
}
.about {
    color: var(--text-color);
    font-family: monospace;
}
.skills {
    color: var(--text-color);
    font-family: monospace;
}
.projects { 
    display:flex; flex-wrap:wrap; 
}
.project {
    width: 55%;
    margin: 10px;
    padding: 20px 10px;
    background: var(--secondary-color); 
    border-radius: 10%;
    color: var(--text-color);
}
.contact {
    color: var(--text-color);
    font-family: monospace;
}
img {
    width: 1000px;
    height: auto;
}
.project img {
    width: 300px;
    height: auto;
    margin: 10px;
    display: block;
    margin: auto;
}